* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.logoHeader {
    max-width: 6vh;
    margin: 8px auto;
    border-radius: 100%;
}

.logoHeader:hover {
    max-width: 8vh;
    box-shadow: 0 -4px 15px 0.1vh #646464;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: linear-gradient(to top right, rgba(243,130,220,130) 150px, rgba(253,137,139,150), rgba(255,180,51,130) 95%);
}

.principal {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logoPrincipal {
    object-fit: cover;
    max-width: 55vw;
}

.sketchfab-embed-wrapper{
    display: flex;
    max-width: 1400px;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.cabinaCompletaIFrame {
    object-fit: cover;
    width: 80%;
    height: 100%;
    min-height: 600px;
}

footer {
    background-color: #646464;
}