
<header>
  <div class="topnav" id="myTopnav">
      <a routerLink="" class="active"><img src="../assets/logomezupng.png" alt="Logo MEZU Fotografía"></a>
      <a routerLink="galeria"><h2>GALERÍA DE FOTOS</h2></a>
      <a routerLink="cabina"><h2>MODELO DE LA CABINA</h2></a>
      <a routerLink="contacto"><h2>CONTACTO</h2></a>
      <a href="javascript:void(0);" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
  </div>
</header>
<body>
  <router-outlet></router-outlet>
</body>
<footer>
  <div class="frstCol">
      <p>by Ismael Aloy</p>
  </div>
  <div class="scndCol">
      <p><b>Contacto</b></p>
      <p><a href="https://www.instagram.com/mezu_uy/"><img src="assets/instagram.png" alt="Instagram Logo"></a>  
          <a href="https://wa.me/message/HI7ZFO5JOF2VI1"><img src="assets/whatsapp.png" alt="WhatsApp Logo"></a></p>
  </div>
  <div class="thrdCol">
      <p>MEZU Whisky®</p>
  </div>
</footer>
