<div class="principal">
    <img class="logoPrincipal" src="../../assets/logoWhisky.png" alt="Logo grande MEZU Whisky">
  </div>
  <div class="textoPresentacion">
    <div class="titulo">
        <h1>¿QUÉ ES MEZU WHISKY?</h1>
    </div>
    <div class="parrafos">
        <p>MEZU Whisky es un sistema de foto-cabina móvil y abierta, es decir, 
            completamente adaptable a cualquier entorno y/o evento. Está pensado para que el 
            usuario tenga la mayor de las facilidades y comodidades posibles a la hora de 
            llevarse su foto.</p>
        <p>Las grandes ventajas del sistema abierto de la MEZU Whisky es que el mismo entorno
             es donde los clientes pueden posar con la cantidad de personas que deseen, ya que
              no están limitados por una pequeña cabina interna de 2 personas máximo, como las
               cabinas fotográficas tradicionales.</p>
        <p>Otra de las ventajas es la completa personalización de las imágenes por parte del cliente,
             incluyendo el agregado de filtros, marcos tematizados e inclusive la posibilidad de que
              el cliente firme su foto de manera digital.</p> 
        <p>En definitiva es un modelo de cabina fotográfica que esta pensado y diseñado siempre
             priorizando la simplicidad del sistema y la mayor satisfacción de uso al usuario.</p>
    </div>
  </div>